#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #222d52;
    
}

#central {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}

.titulo {
    font-size: 250%;
    color:#222d52;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px;
    background-color: #eee5d9;
    box-shadow: 0 0 5px #e8e8e8;
    border-radius: 10px;    
}

#login input {
    font-family: Arial, sans-serif;
    color: #1b262c;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;

}

#login input::placeholder {
    font-family: Arial, sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: Arial, sans-serif;
    color:#222d52;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px 3px 3px 3px;
    background-color: #d2b68a;
    margin-top: 10px;
}

#login button:hover {
    background-color: #d2b68a81;
    color:#222d5256;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #1b262c;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #0f4c75;
}
