body {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    margin: 0;
    background-color: #F2ECBE;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color:#1b262c;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #d2b68a;
    border-radius: 3px 3px 3px 3px;    
}

#login input {
    font-family: Arial, sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: flexbox;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    
    border: solid;
    border-radius: 3px 3px 3px 3px;

}

#login input::placeholder {
    font-family: Arial, sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: Arial, sans-serif;
    font-size: 110%;
    color:#222d52;
    width: 100%;
    height: 40px;
    border: none;  
    border-radius: 3px 3px 3px 3px;
    background-color: #4f80a0;
    margin-top: 10px;
}

#login button:hover {
    background-color: #0f4c75;
    color:#bbe1fa44;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #1b262c;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #0f4c75;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}
