/* Agregado por Fabian - Simbolos */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} 

body {
    background-color: #F2ECBE;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: #222d52;
    color: #F1FADA;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 3vw; /* Tamaño de fuente responsive */
    margin: 0;
    padding: 0;
}

/* estilos para el menu de navegacion */
nav {
    background-color: #d2b68a;
    margin: 0;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #222D52;
    text-decoration: none;
    padding: 10px 2vw; /* Espacio de relleno responsive */
}

nav ul li a:hover {
    background-color: #EEE5D9;
}

/* Media Query para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
    .title {
        font-size: 5vw; /* Cambio de tamaño de fuente para pantallas más pequeñas */
    }
}


/*PARTE SUPERIOR*/

#hotel {
    padding: 20px;
    background-color: #222D52;
  }
  
   .hotel-info p{
    text-align: center;
    align-items: center;
    color: #d2b68a;
    font-size: 22px;
  }
  
  
  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  
  .img-container img {
    width: 40%; /* Ajusta el porcentaje según tu preferencia */
    margin: 10px;
  }
  
  @media (max-width: 768px){
    .img-container img {
      width: 80%; /* Cambia el ancho para pantallas más pequeñas si lo deseas */
    }
  }

  /*CARRUSEL*/
.carousel{
    margin: 50px;

 }


/*Formulario*/
.formulario {
    border: 15px rgb(1, 29, 1);
    background-color: bisque;
    padding: 30px;
    margin: 100px;

   }

.titulos {
    margin: 30px;
    text-align: center;
   }   

/* Pagina general de Habitaciones */

#habitaciones {
    background-color: #EEE5D9;
    color: #222D52;
    padding: 10px;
    text-align: left;
}
main {
    max-width: 1050px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fdffff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
  
h2 {
    font-size: 24px;
}
  
p {
    font-size: 16px;
}
main {
    display: flex;        /* Establece el contenedor como Flex */
    justify-content: space-around; /* Distribuye el espacio alrededor de los elementos internos */
    align-items: flex-start; /* Alinea los elementos al comienzo del contenedor flex */
    flex-wrap: wrap;      /* Permite que los elementos se envuelvan en múltiples líneas si no hay espacio suficiente */
}

.habitacion {
    width: 300px;         /* Ancho fijo para cada habitación */
    margin: 10px;         /* Espacio alrededor de cada habitación */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra opcional para un mejor diseño */
    text-align: center;
    padding: 15px;
}

.habitacion img {
    width: 100%;          /* Hace que la imagen llene el ancho del contenedor .habitacion */
    height: auto;         /* Mantiene la proporción de la imagen */
}
.habitacion img:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.5)
}  

/* Paginas de Habitaciones - Fabian */

section .description {
  margin: 120px
}

.services {
  display: grid;
  margin: 100px;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 120px 120px 120px;
  gap: 10px;
}

/* Agregado por Fabian - Boton Reserva*/
.reserva {
    text-align: center;
    border-radius: 100px;
    height: 60px;
    width: 400px;
    border: 15px rgb(1, 29, 1);
    background-color: bisque;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/*seccion habitaciones*/
#habitaciones {
    width: 100%;
    padding: 100px 0;
    background-color: #767faf;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .habitaciones-info {
    width: 50%;
    padding: 20px;
  }
  
  .habitaciones-info h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .habitaciones-info h3 a {
    text-decoration: none;
    color:#EEE5D9;
    font-size: 28px;
    text-decoration: none;
    margin-bottom: 15px;
  }

  .habitaciones-info h3 a:hover {
    color: #d2b68a ;
}
  
  .habitaciones-info p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .habitaciones-img {
    width: 50%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 768px) {
    .habitaciones-info,
    .habitaciones-img {
      width: 100%;
    }
  }

/*SECCION UBICACION*/
#ubicacion h4 {
    border-bottom: 4px solid #d2b68a; 
    padding-bottom: 5px;
    margin-top: 20px;
}

.ubicacion {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.ubicacion iframe {
    margin-bottom: 20px; /* espacio entre el mapa y el footer */
}

/*FOOTER*/
.pie-pagina{

    background-color: #d2b68a;
    
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    padding: 25px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .bloque h2{
    color: #222d52;
    margin-bottom: 15px;
    font-size: 18px;
}
.pie-pagina .grupo-1 .bloque p{
    color: #222d52;
    margin-bottom: 5px; 
    font-size: 14px; 
}

.fa-brands{
    border-radius: 100px;
    color: #222d52;
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px;
    
}

.fa-brands:hover {
    color: #F1FADA;
}


.pie-pagina .grupo-2{
    background-color: #222d52;
    padding: 10px ;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-1 .contacto {
    background-color: #d2b68a;
    text-align: left; 
    color: #222d52;
    padding: 10px 3;
}

.pie-pagina .grupo-1 .contacto h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

