/* Agregado por Fabian - Simbolos */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} 

body {
    background-color: #F2ECBE;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: #222d52;
    color: #F1FADA;
    padding: 20px;
    text-align: center;
    
}

.title{
    font-size: 50px;
    margin: 0;
    padding: 0;
}

/* estilos para el menu de navegacion */
nav {
    background-color: #d2b68a;
    margin: 0;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #222D52;
    text-decoration: none;
    padding: 20px 50px;
}

nav ul li a:hover {
    background-color: #EEE5D9;
}

/*antes del carrusel*/

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.img-container img {
  width: 35%;
  margin: 10px;
  border: 2px solid #ddd; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 768px) {
  .img-container img {
    width: 100%;
  }
} 




/*CARRUSEL*/
.carousel{
    margin: 50px;

 }


/* Paginas de Habitaciones - Fabian */

section .description {
  margin: 120px
}

.services {
  display: grid;
  margin: 20px;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 120px 120px 120px;
  gap: 2px;
}

/* Agregado por Fabian - Boton Reserva*/
.reserva {
    text-align: center;
    border-radius: 100px;
    height: 60px;
    width: 400px;
    border: 15px rgb(1, 29, 1);
    background-color: bisque;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/*seccion habitaciones*/
#habitaciones {
    width: 100%;
    padding: 100px 0;
    background-color: #767faf;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .habitaciones-info {
    width: 50%;
    padding: 20px;
  }
  
  .habitaciones-info h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .habitaciones-info h3 a {
    text-decoration: none;
    color:#EEE5D9;
    font-size: 28px;
    text-decoration: none;
    margin-bottom: 15px;
  }

  .habitaciones-info h3 a:hover {
    color: #d2b68a ;
}
  
  .habitaciones-info p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .habitaciones-img {
    width: 50%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 768px) {
    .habitaciones-info,
    .habitaciones-img {
      width: 100%;
    }
  }

/*SECCION UBICACION*/
#ubicacion h4 {
    border-bottom: 4px solid #d2b68a; 
    padding-bottom: 5px;
    margin-top: 20px;
}

.ubicacion {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.ubicacion iframe {
    margin-bottom: 20px; /* espacio entre el mapa y el footer */
}

/*FOOTER*/
.pie-pagina{

    background-color: #d2b68a;
    
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    padding: 25px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .bloque h2{
    color: #222d52;
    margin-bottom: 15px;
    font-size: 18px;
}
.pie-pagina .grupo-1 .bloque p{
    color: #222d52;
    margin-bottom: 5px; 
    font-size: 14px; 
}

.fa-brands{
    border-radius: 100px;
    color: #222d52;
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px;
    
}

.fa-brands:hover {
    color: #F1FADA;
}


.pie-pagina .grupo-2{
    background-color: #222d52;
    padding: 10px ;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-1 .contacto {
    background-color: #d2b68a;
    text-align: left; 
    color: #222d52;
    padding: 10px 3;
}

.pie-pagina .grupo-1 .contacto h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

